// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

@import 'tokens.scss';

.btn { 
  color: #ffffff;

  &--neutral {
    background-color: $neutral-800;
  }

  &--primary {
    background-color: $blue;
  }

  &--success {
    background-color: $green;
  }

  &--info {
    background-color: $celeste;
  }

  &--danger {
    background-color: $red;
  }

  &--warning {
    background-color: $yellow;
  }

  &--white {
    background-color: $neutral-0;
  }

}