/**** Colors ****/
$_1dp: #006aff;
$_1dp: #ffffff;
$_1dp: #ffffff;
$_2dp: #ffffff;
$_2dp: #006aff;
$_2dp: #ffffff;
$_3dp: #006aff;
$_3dp: #ffffff;
$_3dp: #ffffff;
$_4dp: #006aff;
$_4dp: #ffffff;
$acqua: #00dec3;
$acqua-100: #b8f6eb;
$acqua-200: #8af0df;
$acqua-300: #5cead2;
$acqua-400: #2de4c6;
$acqua-50: #e6fcf8;
$acqua-600: #00bb9b;
$acqua-700: #00977e;
$acqua-800: #007360;
$acqua-900: #015043;
$acqua-950: #00211c;
$blue: #006aff;
$blue-100: #b8d5ff;
$blue-200: #8abbff;
$blue-300: #5ca0ff;
$blue-400: #2e85ff;
$blue-50: #e6f0ff;
$blue-600: #0d59c4;
$blue-700: #14478f;
$blue-800: #153460;
$blue-900: #102136;
$blue-950: #080c11;
$celeste: #00b8ff;
$celeste-100: #b8f0ff;
$celeste-200: #8ae5ff;
$celeste-300: #5cd7ff;
$celeste-400: #2ec9ff;
$celeste-50: #e6faff;
$celeste-600: #0097d1;
$celeste-700: #0076a3;
$celeste-800: #005575;
$celeste-900: #003447;
$celeste-950: #00121a;
$green: #1adf79;
$green-100: #bff6da;
$green-200: #96f0c1;
$green-300: #6deba9;
$green-400: #44e591;
$green-50: #e8fcf2;
$green-600: #15b763;
$green-700: #108f4d;
$green-800: #0b6738;
$green-900: #083d22;
$green-950: #03150c;
$neutral-0: #ffffff;
$neutral-100: #f7f9fc;
$neutral-200: #edf1f7;
$neutral-300: #e4e9f2;
$neutral-400: #c5cee0;
$neutral-500: #7e8aa4;
$neutral-600: #5f6879;
$neutral-700: #495160;
$neutral-800: #333a46;
$neutral-900: #1e232c;
$neutral-950: #0b0c10;
$orange: #ff5720;
$orange-100: #ffcab8;
$orange-200: #ffaa8a;
$orange-300: #ff8c61;
$orange-400: #ff713d;
$orange-50: #ffebe5;
$orange-600: #d6420b;
$orange-700: #ad2f00;
$orange-800: #841f00;
$orange-900: #5c1200;
$orange-950: #330800;
$pjbank: #00c1de;
$pink: #ff2d7a;
$pink-100: #ffc4da;
$pink-200: #ff9ec2;
$pink-300: #ff79aa;
$pink-400: #ff5392;
$pink-50: #ffeaf2;
$pink-600: #d6135a;
$pink-700: #ad023e;
$pink-800: #850025;
$pink-900: #5c0012;
$pink-950: #330005;
$purple: #8634f2;
$purple-100: #ddc6fb;
$purple-200: #c6a2f9;
$purple-300: #b27df7;
$purple-400: #9c59f4;
$purple-50: #f3ebfe;
$purple-600: #712ccb;
$purple-700: #5a23a5;
$purple-800: #461b7e;
$purple-900: #301357;
$purple-950: #1b0a30;
$red: #f83333;
$red-100: #ffbbbb;
$red-200: #ff9494;
$red-300: #ff7070;
$red-400: #ff5050;
$red-50: #ffe6e6;
$red-600: #d61d1e;
$red-700: #ad0d0d;
$red-800: #850202;
$red-900: #5c0000;
$red-950: #330000;
$violet: #5700f8;
$violet-100: #b8b8ff;
$violet-200: #958aff;
$violet-300: #7b5cff;
$violet-400: #672eff;
$violet-50: #e6e6ff;
$violet-600: #4700cb;
$violet-700: #38009f;
$violet-800: #280072;
$violet-900: #180045;
$violet-950: #090019;
$yellow: #ffc02a;
$yellow-100: #ffedc3;
$yellow-200: #ffe29d;
$yellow-300: #ffd777;
$yellow-400: #ffcb50;
$yellow-50: #fff9ea;
$yellow-600: #d69920;
$yellow-700: #ad7517;
$yellow-800: #85540f;
$yellow-900: #5c3609;
$yellow-950: #331b04;

/**** Fonts ****/
/** bold **/
$bold-font-size: 16px;
$bold-color: #1E232C;
$bold-line-height: 24px;
$bold-font-family: Proxima Nova;
$bold-font-weight: 700;
$bold-text-align: left;

@mixin bold() {
  font-size: $bold-font-size;
  color: $bold-color;
  line-height: $bold-line-height;
  font-family: $bold-font-family;
  font-weight: $bold-font-weight;
  text-align: $bold-text-align;
}

/** default **/
$default-font-size: 16px;
$default-color: #1E232C;
$default-line-height: 24px;
$default-font-family: Proxima Nova;
$default-font-weight: 400;
$default-text-align: left;

@mixin default() {
  font-size: $default-font-size;
  color: $default-color;
  line-height: $default-line-height;
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  text-align: $default-text-align;
}

/** label **/
$label-font-size: 14px;
$label-color: #1E232C;
$label-line-height: 16px;
$label-font-family: Proxima Nova;
$label-font-weight: 700;
$label-text-transform: uppercase;
$label-text-align: left;

@mixin label() {
  font-size: $label-font-size;
  color: $label-color;
  line-height: $label-line-height;
  font-family: $label-font-family;
  font-weight: $label-font-weight;
  text-transform: $label-text-transform;
  text-align: $label-text-align;
}

/** label-small **/
$label-small-font-size: 12px;
$label-small-color: #1E232C;
$label-small-line-height: 14px;
$label-small-font-family: Proxima Nova;
$label-small-font-weight: 700;
$label-small-text-transform: uppercase;
$label-small-text-align: left;

@mixin label-small() {
  font-size: $label-small-font-size;
  color: $label-small-color;
  line-height: $label-small-line-height;
  font-family: $label-small-font-family;
  font-weight: $label-small-font-weight;
  text-transform: $label-small-text-transform;
  text-align: $label-small-text-align;
}

/** large **/
$large-font-size: 18px;
$large-color: #1E232C;
$large-line-height: 30px;
$large-font-family: Proxima Nova;
$large-font-weight: 400;
$large-text-align: left;

@mixin large() {
  font-size: $large-font-size;
  color: $large-color;
  line-height: $large-line-height;
  font-family: $large-font-family;
  font-weight: $large-font-weight;
  text-align: $large-text-align;
}

/** sans-serif **/
$sans-serif-font-size: 44px;
$sans-serif-color: #1E232C;
$sans-serif-line-height: 57.2px;
$sans-serif-font-family: Proxima Nova;
$sans-serif-font-weight: 700;
$sans-serif-text-align: left;

@mixin sans-serif() {
  font-size: $sans-serif-font-size;
  color: $sans-serif-color;
  line-height: $sans-serif-line-height;
  font-family: $sans-serif-font-family;
  font-weight: $sans-serif-font-weight;
  text-align: $sans-serif-text-align;
}

/** sans-serif **/
$sans-serif-font-size: 36px;
$sans-serif-color: #1E232C;
$sans-serif-line-height: 46.8px;
$sans-serif-font-family: Proxima Nova;
$sans-serif-font-weight: 700;
$sans-serif-text-align: left;

@mixin sans-serif() {
  font-size: $sans-serif-font-size;
  color: $sans-serif-color;
  line-height: $sans-serif-line-height;
  font-family: $sans-serif-font-family;
  font-weight: $sans-serif-font-weight;
  text-align: $sans-serif-text-align;
}

/** sans-serif **/
$sans-serif-font-size: 28px;
$sans-serif-color: #1E232C;
$sans-serif-line-height: 36.4px;
$sans-serif-font-family: Proxima Nova;
$sans-serif-font-weight: 700;
$sans-serif-text-align: left;

@mixin sans-serif() {
  font-size: $sans-serif-font-size;
  color: $sans-serif-color;
  line-height: $sans-serif-line-height;
  font-family: $sans-serif-font-family;
  font-weight: $sans-serif-font-weight;
  text-align: $sans-serif-text-align;
}

/** sans-serif **/
$sans-serif-font-size: 24px;
$sans-serif-color: #1E232C;
$sans-serif-line-height: 32px;
$sans-serif-font-family: Proxima Nova;
$sans-serif-font-weight: 700;
$sans-serif-text-align: left;

@mixin sans-serif() {
  font-size: $sans-serif-font-size;
  color: $sans-serif-color;
  line-height: $sans-serif-line-height;
  font-family: $sans-serif-font-family;
  font-weight: $sans-serif-font-weight;
  text-align: $sans-serif-text-align;
}

/** sans-serif **/
$sans-serif-font-size: 22px;
$sans-serif-color: #1E232C;
$sans-serif-line-height: 33px;
$sans-serif-font-family: Proxima Nova;
$sans-serif-font-weight: 400;
$sans-serif-text-align: left;

@mixin sans-serif() {
  font-size: $sans-serif-font-size;
  color: $sans-serif-color;
  line-height: $sans-serif-line-height;
  font-family: $sans-serif-font-family;
  font-weight: $sans-serif-font-weight;
  text-align: $sans-serif-text-align;
}

/** sans-serif-long-text **/
$sans-serif-long-text-font-size: 24px;
$sans-serif-long-text-color: #1E232C;
$sans-serif-long-text-line-height: 40px;
$sans-serif-long-text-font-family: Proxima Nova;
$sans-serif-long-text-font-weight: 600;
$sans-serif-long-text-text-align: left;

@mixin sans-serif-long-text() {
  font-size: $sans-serif-long-text-font-size;
  color: $sans-serif-long-text-color;
  line-height: $sans-serif-long-text-line-height;
  font-family: $sans-serif-long-text-font-family;
  font-weight: $sans-serif-long-text-font-weight;
  text-align: $sans-serif-long-text-text-align;
}

/** semi-bold **/
$semi-bold-font-size: 16px;
$semi-bold-color: #1E232C;
$semi-bold-line-height: 24px;
$semi-bold-font-family: Proxima Nova;
$semi-bold-font-weight: 600;
$semi-bold-text-align: left;

@mixin semi-bold() {
  font-size: $semi-bold-font-size;
  color: $semi-bold-color;
  line-height: $semi-bold-line-height;
  font-family: $semi-bold-font-family;
  font-weight: $semi-bold-font-weight;
  text-align: $semi-bold-text-align;
}

/** serif **/
$serif-font-size: 56px;
$serif-color: #1E232C;
$serif-line-height: 72.8px;
$serif-font-family: Adelle PE;
$serif-font-weight: 400;
$serif-text-align: left;

@mixin serif() {
  font-size: $serif-font-size;
  color: $serif-color;
  line-height: $serif-line-height;
  font-family: $serif-font-family;
  font-weight: $serif-font-weight;
  text-align: $serif-text-align;
}

/** serif **/
$serif-font-size: 44px;
$serif-color: #1E232C;
$serif-line-height: 57.2px;
$serif-font-family: Adelle PE;
$serif-font-weight: 400;
$serif-text-align: left;

@mixin serif() {
  font-size: $serif-font-size;
  color: $serif-color;
  line-height: $serif-line-height;
  font-family: $serif-font-family;
  font-weight: $serif-font-weight;
  text-align: $serif-text-align;
}

/** serif **/
$serif-font-size: 36px;
$serif-color: #1E232C;
$serif-line-height: 46.8px;
$serif-font-family: Adelle PE;
$serif-font-weight: 400;
$serif-text-align: left;

@mixin serif() {
  font-size: $serif-font-size;
  color: $serif-color;
  line-height: $serif-line-height;
  font-family: $serif-font-family;
  font-weight: $serif-font-weight;
  text-align: $serif-text-align;
}

/** serif **/
$serif-font-size: 28px;
$serif-color: #1E232C;
$serif-line-height: 36.4px;
$serif-font-family: Adelle PE;
$serif-font-weight: 400;
$serif-text-align: left;

@mixin serif() {
  font-size: $serif-font-size;
  color: $serif-color;
  line-height: $serif-line-height;
  font-family: $serif-font-family;
  font-weight: $serif-font-weight;
  text-align: $serif-text-align;
}

/** serif **/
$serif-font-size: 24px;
$serif-color: #1E232C;
$serif-line-height: 36px;
$serif-font-family: Adelle PE;
$serif-font-weight: 400;
$serif-text-align: left;

@mixin serif() {
  font-size: $serif-font-size;
  color: $serif-color;
  line-height: $serif-line-height;
  font-family: $serif-font-family;
  font-weight: $serif-font-weight;
  text-align: $serif-text-align;
}

/** small **/
$small-font-size: 14px;
$small-color: #1E232C;
$small-line-height: 20px;
$small-font-family: Proxima Nova;
$small-font-weight: 500;
$small-text-align: left;

@mixin small() {
  font-size: $small-font-size;
  color: $small-color;
  line-height: $small-line-height;
  font-family: $small-font-family;
  font-weight: $small-font-weight;
  text-align: $small-text-align;
}